#post-250 img.check{
	    height: 25px;
    padding-right: 10px;
}
#post-250 .cost td, #post-250 .privilege {
	    border: 1px solid #fecb16;

}
#post-250 .privilege td{
 	border-left: 1px solid #fecb16;
 	border-right: 1px solid #fecb16;
 	padding: 4px 10px;
 }
#post-250 .privilege tr:first-child{
 	 border: 1px solid #fecb16;
 }
.recordings{
	background: #fefefe;
}
.single-recordings, .single-recordings .entry-header {
	background-color: #fff;
	padding-bottom: 0 !important;
}
.recordings .entry-content {
  background-color: #fefefe;
  text-align: justify;
  font-size: 1.1em;
	padding: 0 25px 25px;
}
.single-recordings #comments{
	padding-bottom: 20px;
}
.widget-title{
	text-align: center;
	font-size: 18px;
}
#custom-post-type-recent-posts-3 ul{
	padding: 0 !important;
	margin: 0 auto;
}
#custom-post-type-recent-posts-3 > ul > li{
  padding: 10px;
  display: block;
  max-height: 71px;
  overflow: hidden;
}
@media screen and (min-width: 996px){
	.single-recordings #secondary {
    padding-top: 20px;
	}
	aside > section{
	  max-width: 340px;
	}
}
.arrow-bread{
  display: inline-block;
  width: 30px;
  height: 11px;
  background: url(img/arrow-bread.png) no-repeat;
  background-position: 50%;
}
article[id^=post] h1 {
	padding-left: 25px;
	font-size: 23px;
}
#primary  h1.entry-title{
	padding-left: 0px;
}
#main > div.breadcrumbs > div > span:nth-child(1){
	padding-left: 25px;
}
.recordings .entry-content,.single-university-text,.post-168 .entry-content{
	border: none !important;
	background: #fff;
}
aside > section{
	border-bottom: 1px solid #eee;
  padding-bottom: 22px;
}
.recent-thumbnail{
  float: left;
  padding: 4px 10px 25px 0px;
}
button[onclick="showWP()"]{
	display: none;
}
.speciality-deps p {
	text-align: center;
}
