/*!
Theme Name: aguaviva
Theme URI: http://atilog.ua/
Author: Vladimir.K
Author URI: aonoams@gmail.com
Description: tamplate for agua viva
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: aguaviva
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

aguaviva is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,700&subset=latin,cyrillic-ext);@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic-ext);@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=latin,cyrillic-ext);html,body,.wrapper{font-family:'Roboto', sans-serif}.theme-color{background:#c89232}.theme-color-font{color:#c89232}.btn-search-margin-center{max-width:300px;margin:0 auto;display:block}.border-bottom:after{content:'';width:calc(100% - 30px);margin:0 auto;height:1px;display:block;position:relative;background:#716254;top:10px}.padding-top{padding-top:30px}.full-width{width:100%;position:relative}.validation-error{border:1px solid red !important}input,textarea{width:100%;margin-bottom:15px;margin-top:15px;background:transparent;padding:15px;color:#fff;border-radius:2px;border:1px solid}input#search{border:1px solid #c89232;margin-top:0}input:hover,textarea{border:1px solid #fff}textarea{height:135px}input::-webkit-input-placeholder{color:#fff;text-transform:uppercase}input::-moz-placeholder{color:#fff;text-transform:uppercase}input:-moz-placeholder{color:#fff;text-transform:uppercase}input:-ms-input-placeholder{color:#fff;text-transform:uppercase}textarea::-webkit-input-placeholder{color:#fff;text-transform:uppercase}textarea::-moz-placeholder{color:#fff;text-transform:uppercase}textarea:-moz-placeholder{color:#fff;text-transform:uppercase}textarea:-ms-input-placeholder{color:#fff;text-transform:uppercase}.select2-container{margin-bottom:30px !important;height:60px !important;width:100% !important}.select2-container--default .select2-selection--single{background-color:transparent !important;border:1px solid #c89232 !important;border-radius:2px !important;padding:11px !important;height:55px !important}.select2-container--default .select2-selection--single .select2-selection__rendered{color:#fff;line-height:31px !important;text-transform:uppercase !important}.select2-container--default .select2-selection--single .select2-selection__arrow{height:26px !important;position:absolute !important;top:13px !important;right:6px !important;width:20px !important}.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color:#c89232 transparent transparent transparent !important}.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#fff !important}*:hover{-webkit-transition:all 0.3s ease-in;transition:all 0.3s ease-in}@media screen and (max-width: 767px){.border-bottom:after{content:'';width:calc(100% - 30px);margin:0 auto;height:1px;display:block;position:relative;background:#716254;top:30px}}body{padding:0 !important;width:100%;overflow-x:hidden}.single-recordings article{min-height:50vh}.single-recordings article h3:after,.single-recordings article h3:before{display:none}video{display:block}a{color:#252525}a:hover{color:#c89232;text-decoration:none}a:focus{color:#252525;text-decoration:none;outline:none}p{text-align:justify;line-height:27px;color:#252525}li{list-style:none}h1,h2,h3,h4{font-family:'Roboto Slab'}h1{font-size:47px}h2{font-size:36px;text-transform:uppercase}h3{font-size:30px;font-weight:700;text-align:center;margin:20px 0}h4{font-size:18px;font-weight:700;text-transform:uppercase}h5{font-size:18px;font-weight:600;font-size:18px}.btn-submit{background:-webkit-linear-gradient(90deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);background:-webkit-linear-gradient(bottom, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);background:linear-gradient(0deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);border-radius:2px;-ms-box-shadow:0px 3px 0px 0px #9e7125;box-shadow:0px 3px 0px 0px #9e7125;font-family:RobotoSlab;color:#252525;font-size:18px;text-transform:uppercase;font-weight:700;line-height:24px;text-align:center}.btn-style-form{background:-webkit-linear-gradient(90deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);background:-webkit-linear-gradient(bottom, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);background:linear-gradient(0deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);border-radius:2px;-ms-box-shadow:0px 3px 0px 0px #9e7125;box-shadow:0px 3px 0px 0px #9e7125;font-family:RobotoSlab;color:#252525;text-transform:uppercase;font-size:18px;font-weight:700;line-height:54px;text-align:center;height:54px;display:block;-webkit-transition:all 0.3s ease-in;transition:all 0.3s ease-in}.btn-style-form:hover{background:-webkit-linear-gradient(90deg, #e29a21 0%, #f8c32e 50%, #d09635 100%);background:-webkit-linear-gradient(bottom, #e29a21 0%, #f8c32e 50%, #d09635 100%);background:linear-gradient(0deg, #e29a21 0%, #f8c32e 50%, #d09635 100%);color:#252525}.btn-read{font-family:"RobotoSlab";font-weight:bold;font-size:18px;display:block;margin:0 auto;width:175px;margin-top:20px;color:#c89232;text-transform:uppercase;text-align:center;padding:10px 25px;border:2px solid #c89232;border-radius:2px}.btn-read:hover{background:#c89232;color:#fff}.navbar-toggle{width:40px}.navbar-toggle .icon-bar{width:100%}.padding-none{padding:0 !important}.padding-right-none{padding-right:0 !important}.modal-dialog{top:25vh}.modal-header{text-align:center;border:none}.modal-header h4{font-size:30px;padding-top:20px;font-weight:bold;text-transform:uppercase;font-family:'Roboto Slab';color:#c89232}.modal-body p{color:#838383 !important}button.close{position:absolute;right:8px;top:0px}.close{float:right;font-size:40px;font-weight:400;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2;font-family:'opensans'}.qtranxs_widget ul{margin:0;padding:0}.qtranxs_widget ul li{display:block;float:left}.qtranxs_widget ul li a img{margin:0}.breadcrumbs{background:#f7f7f7}.breadcrumbs span{text-transform:uppercase;font-weight:bold;color:#000;font-family:'Roboto Slab'}.breadcrumbs span a{display:inline-block;padding:20px 0}.breadcrumbs .active-bread{color:#c89232}.overlay-img{width:100%;height:100%;background:rgba(43,29,4,0.54)}.slide-fw .overlay-img{min-height:390px}.search-university .overlay-img{background:rgba(37,33,26,0.83)}.process-box2 .overlay-img{min-height:260px}@media screen and (max-width: 768px){.breadcrumbs{display:none}h1{font-size:36px}.padding-right-none{padding-right:15px !important}h3:before,h3:after{display:none !important}h2.entry-title{font-size:22px}}.qtranxs_widget ul li.active{opacity:1 !important}.qtranxs_widget ul li.active a{box-shadow:0px 2px 3px 0 #c89232}.qtranxs_widget ul li img{width:20px}.btn-social{padding:0}.full-img{height:100%;width:100%;min-height:500px;background-size:contain;background-position:50% 50%;background-repeat:no-repeat;position:relative;top:-15px}.btn-social-fb{background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAzMCAzMCI+PHBhdGggc3Ryb2tlPSIjZmZmIiBkPSJNMTQgMjUgdiAtMTMgUSAxMyA2IDIxIDcuNSBNIDEwIDE0IEwgMjAgMTQiIHN0cm9rZS13aWR0aD0iNCIgZmlsbD0ibm9uZSI+PC9wYXRoPjwvc3ZnPg==) left no-repeat;background-color:#3B5998;color:#fff;text-indent:30px;border:none;border-radius:3px;height:33px;width:137px;padding:7px;background-position:6px}.btn-social-vk{background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAzMCAzMCI+DQo8cGF0aCBkPSJNIDIuNSA5IGggNC41IGwgNSA3IHYgLTcgaCA0LjUgdiA3IGwgNSAtNyBoIDUgbCAtNSA3IGwgNSA3IGggLTUgbCAtNSAtNyB2IDcgaCAtNC41IHEgLTIgMCAtNSAtNiB6IiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9IiNmZmYiPjwvcGF0aD4NCjwvc3ZnPg==) left no-repeat;background-color:#507299;display:block;text-indent:30px;width:140px;height:a;padding:7px;background-position:3px -2px;color:#fff;border:none;font-weight:bold;border-radius:3px;height:33px;margin-bottom:5px}#subscribe-modal .modal-header{background:url(img/facebook-popup.jpg);background-size:cover;min-height:155px}.press-like{padding-top:15px;text-transform:uppercase;font-weight:bold;font-family:'Roboto Slab';font-size:30px;color:#fff}.read-fb{font-weight:bold;font-family:'Roboto Slab';font-size:24px;color:#fff}.site-branding{background:#3c3127;height:80px}.site-branding img{margin-top:10px;margin-left:25px}#lang{padding:30px 0;height:80px;text-align:center}.top-contact li{float:left;height:60px;list-style:none}.top-contact li a{color:#fff;display:block;padding:20px 0;border-right:1px solid #464646;margin-top:10px;max-height:60px;text-align:center}.top-contact li a span{color:#fff}.top-contact li .skype:before{content:url(img/icon-skype.png);position:absolute;left:-25px}.top-contact li .viber:before{content:url(img/icon-viber.png);position:absolute;left:-25px}.top-contact li .mail:before{content:url(img/icon-mail.png);position:absolute;left:-28px}.top-contact li a:focus{text-decoration:none}.top-contact li .skype,.top-contact li .viber,.top-contact li .mail{color:#c89232;position:relative}.nav-wrapper{background:#fff}.nav-wrapper .navbar-default{border-color:transparent;background:transparent;margin-bottom:0}.nav-wrapper .navbar-default .navbar-nav li{height:100%}.nav-wrapper .navbar-default .navbar-nav li a{text-transform:uppercase;color:#252525;font-size:20px;font-weight:400;line-height:24px;text-align:center;border-top:2px solid transparent;border-bottom:2px solid transparent;margin:-1px 0 -1px 0}.nav-wrapper .navbar-default .navbar-nav li a:hover,.nav-wrapper .navbar-default .navbar-nav li a:focus{border-top:2px solid #c89232;border-bottom:2px solid #c89232;color:#d1942d}.site-info{background:#3c3127;min-height:64px}.site-info p{color:#ffffff;font-size:14px;font-weight:400;text-align:center;padding-top:15px;padding-bottom:15px;margin:0}.site-info .arr{color:#fff;text-decoration:underline}.site-info .arr:hover{color:#c89232}.navbar-toggle{background:#fff;-webkit-transition:all 0.4s ease-in;transition:all 0.4s ease-in}.navbar-default .navbar-toggle:active{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background:#fff}.navbar-default .navbar-toggle .icon-bar{background-color:#c89232}@media screen and (max-width: 480px){.site-branding{height:110px;position:relative}#lang{position:absolute;bottom:0;left:44%;padding:0;width:75px;height:30px}}@media screen and (max-width: 767px){.navbar{min-height:0}.navbar-toggle{position:absolute;border:1px solid #c89232 !important;top:-27px;right:0}}.site-info p{line-height:30px !important}@media screen and (min-width: 768px){.navbar-nav{margin:0 auto;display:block;width:100%;float:none;text-align:center}.nav-wrapper .navbar-default .navbar-nav li{height:100%;display:inline-block;float:none}}section>.container{padding-top:30px;padding-bottom:30px}.slide-fw{min-height:390px;background:url(img/home-page-bg.jpg) no-repeat;background-size:cover;background-position:50% 50%}.slide-fw h1{color:#fff;text-align:center;margin-top:110px;text-transform:uppercase;font-weight:bold}.slide-fw h4{color:#fff;text-align:center;line-height:30px;margin:25px 0;text-transform:none !important;font-weight:400;font-family:'Roboto'}.slide-fw #consultation{max-width:380px;margin:0 auto;margin-top:45px}.entry-content{margin-top:30px}.entry-header{padding-bottom:30px}h3{position:relative;text-transform:uppercase}h3:before{content:'';display:block;height:1px;position:relative;width:20%;max-width:300px;left:0;top:20px;background:#d7d7d7}h3:after{content:'';display:block;height:1px;position:absolute;width:20%;max-width:300px;right:0;background:#d7d7d7;top:20px}@media only screen and (max-width: 1023px){.slide-fw #consultation{max-width:290px}h3:after,h3:before{width:15%}.process h3:after,.process h3:before{width:9%}}.search-university{margin-top:50px;background:url(img/search-university.jpg);min-height:545px;background-size:cover}.search-university .row{padding-bottom:35px}.search-university h3{color:#fff;margin:20px 0}.search-university h4{text-transform:uppercase;font-weight:400;margin-bottom:20px}.search-university p{color:#c8c6c5;text-align:center}.search-university .select2-container--default .select2-selection--single .select2-selection__rendered{color:#fff}.search-university .select2-container--default:hover .select2-selection--single{border-color:#fff}.search-university .select2-container--default .select2-selection--single:hover{border:1px solid #fff !important}.process{min-height:650px}.process p{text-align:center}.process .row{margin-top:40px}.process .row div{min-height:250px}.process .row div h4{text-transform:uppercase;font-weight:bold;color:#394b50}.process .row div p{text-align:left;padding-right:30px}.process .row div figure{height:75px}.process .row div .icon-mail-envelope-opened{margin-top:-10px}.process .row div .icon-airplane{width:60px}.process .row div .icon-hand-gesture{margin-top:7px;width:60px}.process .row div .icon-wallet2{margin-bottom:9px}.process .row div .icon-notebook{margin-bottom:13px}.process .row div .icon-dot_arrow{width:69%}.process .row div .icon-dots{width:60%}@media screen and (max-width: 767px){.entry-title{margin-top:50px}.advantages h3:after,.advantages h3:before,.documents h3:after,.documents h3:before,.search-university h3:after,.search-university h3:before,.contact-us h3:after,.contact-us h3:before{display:none}.process{min-height:650px}.process h3:after,.process h3:before{display:none !important}.process .row{margin-top:40px}.process .row div{text-align:center;min-height:250px}.process .row div p{text-align:center;padding:0}.process .row div .icon-dot_arrow{width:200px}.process .row div .icon-dots{width:200px}}.process-box2{background:url(img/booking.jpg) no-repeat;min-height:260px;background-size:cover;background-position:50% 50%}.process-box2 .container{padding-top:80px}.process-box2 .container h3:after,.process-box2 .container h3:before{display:none}.process-box2 .container h2{color:#fff;font-weight:bold;margin:0}.process-box2 .container h3{color:#fff;text-align:left;margin:0}.process-box2 .container #booking{margin-top:22px;max-width:275px}@media screen and (max-width: 1023px){.process-box2 .container{text-align:center;padding-top:20px;padding-bottom:20px}.process-box2 .container div{padding-bottom:10px}.process-box2 .container h3{text-align:center}.process-box2 .container #booking{margin-top:5px;margin:0 auto}.advantages .container h3:after,.advantages .container h3:before{display:none}}.advantages{background:url(img/advantages.jpg)}.advantages .container h3:after,.advantages .container h3:before{width:15%}.advantages .container .row{padding-top:10px}.advantages .container .row div{background:#fff;background-clip:content-box;max-height:165px;padding:15px}.advantages .container .row div figure{padding:32px 0}.advantages .container .row div figure span.theme-color-font{font-size:30px;font-family:"Roboto Slab";font-weight:bold}.advantages .container .row div:hover{background:#d5a34a;background-clip:content-box;color:#fff}.advantages .container .row div:hover span{color:#fff}.sprite{background-image:url(img/spritesheet.png);background-repeat:no-repeat;display:block}.sprite-bus{width:82px;height:50px;background-position:-5px -5px}div.col-xs-12:hover .sprite-bus{width:82px;height:50px;background-position:-97px -5px}.sprite-car{width:84px;height:57px;background-position:-189px -5px}div.col-xs-12:hover .sprite-car{width:84px;height:57px;background-position:-283px -5px}.sprite-film{width:69px;height:71px;background-position:-377px -5px}div.col-xs-12:hover .sprite-film{width:69px;height:71px;background-position:-456px -5px}.sprite-house{width:76px;height:63px;background-position:-535px -5px}div.col-xs-12:hover .sprite-house{width:76px;height:63px;background-position:-621px -5px}.sprite-tarelka{width:87px;height:60px;background-position:-707px -5px}div.col-xs-12:hover .sprite-tarelka{width:87px;height:60px;background-position:-804px -5px}.sprite-tiket{width:82px;height:63px;background-position:-901px -5px}div.col-xs-12:hover .sprite-tiket{width:82px;height:63px;background-position:-993px -5px}.sprite-tarelka-padding{padding:37px 0 37px 15%;margin:0}.sprite-bus-padding{padding:45px 0 40px 15%;margin:0}.sprite-film-padding{padding:31px 0 33px 17%;margin:0}.contact-us{background:url(img/contact-us.jpg);min-height:495px}.contact-us .row{padding-top:30px}.contact-us #contact_us{margin-top:9px}.contact-us .container h3{color:#fff;margin:20px 0}.contact-us .container hgroup h3{text-align:left;margin-bottom:20px}.contact-us .container .site-title a{font-weight:400;color:#c89232}.contact-us .container .site-title:after,.contact-us .container .site-title:before{display:none}.contact-us .container p{color:#c8c6c5;text-align:center}.contact-us .container ul{padding-left:0}.contact-us .container li{list-style:none}.contact-us .container li a{color:#fff;display:block;padding:7px;font-size:18px;padding-left:35px}.contact-us .container li .skype:before{content:url(img/icon-skype.png);position:absolute;left:-35px;top:2px}.contact-us .container li .viber:before{content:url(img/icon-viber.png);position:absolute;left:-35px}.contact-us .container li .mail:before{content:url(img/icon-mail.png);position:absolute;left:-38px;top:2px}.contact-us .container li a:focus{text-decoration:none}.contact-us .container li span{color:#c89232;position:relative}.documents{min-height:470px}.documents .row{padding-top:30px}.documents .owl-theme .owl-controls .owl-buttons .owl-prev{background-image:url(img/arrow.png) !important;background-repeat:no-repeat;display:block;width:36px !important;height:26px !important;background-position:-97px -5px !important}.documents .owl-theme .owl-controls .owl-buttons .owl-prev:hover{width:36px !important;height:26px !important;background-position:-143px -5px !important}.documents .owl-theme .owl-controls .owl-buttons .owl-next{background-image:url(img/arrow.png) !important;background-repeat:no-repeat;display:block;width:36px !important;height:26px !important;background-position:-5px -5px !important}.documents .owl-theme .owl-controls .owl-buttons .owl-next:hover{width:36px !important;height:26px !important;background-position:-51px -5px !important}.container .owl-theme .owl-controls .owl-buttons .owl-next{background:url(img/arrow.png) !important;background-position:-5px -5px !important;display:block !important;width:36px !important;height:26px !important}.container .owl-theme .owl-controls .owl-buttons .owl-next:hover{background:url(img/arrow.png) !important;background-position:-51px -5px !important;display:block !important;width:36px !important;height:26px !important}.container .owl-theme .owl-controls .owl-buttons .owl-prev{background:url(img/arrow.png) !important;background-position:-97px -5px !important;display:block !important;width:36px !important;height:26px !important}.container .owl-theme .owl-controls .owl-buttons .owl-prev:hover{background:url(img/arrow.png) !important;background-position:-143px -5px !important;display:block !important;width:36px !important;height:26px !important}@media screen and (max-width: 767px){.autohide-arrows .owl-controls .owl-buttons{display:none !important}.owl-theme .owl-controls .owl-buttons .owl-prev{left:5px !important}.owl-theme .owl-controls .owl-buttons .owl-next{right:5px !important}#slider-comment>a.right.carousel-control{display:none}#slider-comment>a.left.carousel-control{display:none}}.modal-dialog{max-width:485px}.modal-body input{color:#000}.modal-body input:hover{color:#000;border:1px solid #000}.modal-body input::-webkit-input-placeholder{color:#000}.modal-body input::-moz-placeholder{color:#000}.modal-body input:-moz-placeholder{color:#000}.modal-body input:-ms-input-placeholder{color:#000}#take-consult,#take-booking{margin:0 auto;display:block;max-width:380px;padding-bottom:30px;margin-top:-15px}#consult_submit,#booking_submit{margin-top:10px}@media screen and (max-width: 390px){#consult_submit,#booking_submit{font-size:14px}}@media screen and (max-width: 1023px) and (min-width: 768px){.contact-us .container li a{font-size:12px}}#slider-comment a.right.carousel-control>span:before{content:'';background:url(img/arrow.png) no-repeat;display:block;width:36px;height:26px;background-position:-5px -5px;-webkit-transition:background-position .2s ease-in;transition:background-position .2s ease-in}#slider-comment a.left.carousel-control>span:before{content:'';background:url(img/arrow.png) no-repeat;display:block;width:36px;height:26px;background-position:-97px -5px;-webkit-transition:background-position .2s ease-in;transition:background-position .2s ease-in}#slider-comment a.right.carousel-control:hover>span:before{content:'';background:url(img/arrow.png) no-repeat;background-position:-51px -5px}#slider-comment a.left.carousel-control:hover>span:before{content:'';background:url(img/arrow.png) no-repeat;background-position:-143px -5px}#slider-comment>a.right.carousel-control{right:-10px}#slider-comment>a.left.carousel-control{left:-15px}.comment-img{height:225px;width:100%;background-position:50% 50% !important}.universities-head{min-height:207px;background:url(img/university-bg.jpg) no-repeat;background-size:cover;background-position:50% 50%;padding-top:30px}.universities-head h1{color:#fff;font-family:'roboto slab';font-weight:400;text-transform:uppercase;text-align:center}.universities-head h3:before,.universities-head h3:after{display:none}.universities-head p{text-align:center;color:#efe9e6}.search-university-catalog{background:url(img/page-university.png)}.search-university-catalog input,.search-university-catalog textarea,.search-university-catalog select{color:#000}.search-university-catalog select:hover{border-color:#000}.search-university-catalog input::-webkit-input-placeholder{color:#000}.search-university-catalog p{text-align:center}.search-university-catalog .select2-container--default .select2-selection--single:hover{border:1px solid #000 !important}.search-university-catalog .select2-container--default .select2-selection--single .select2-selection__placeholder{color:#444 !important}.search-university-catalog h4{text-transform:uppercase}.select2-container--default .select2-results__option--highlighted[aria-selected]{background:#c89232 !important}.select2-dropdown{background:rgba(236,232,223,0.92) !important}#search .select2-container--default .select2-selection--single .select2-selection__arrow b{display:none}.select2-container--default .select2-search--dropdown .select2-search__field{color:#000}.search-result{min-height:400px;-webkit-transition:all 0.6s ease 0.3s;transition:all 0.6s ease 0.3s}.search-result p{text-align:center;color:#a8a8a8;margin-bottom:25px}.search-result .thumbnail-img{max-width:100%;min-height:240px;margin:0 auto;display:block}@media screen and (max-width: 767px){.search-result h3:after,.search-result h3:before{display:none}}.university-loop:hover{box-shadow:0px 7px 37px 10px rgba(177,124,29,0.82)}.university-loop{-webkit-transition:all .3s ease;transition:all .3s ease;height:100%;margin-bottom:20px}.university-loop h4{font-weight:bold;text-transform:uppercase;text-align:center;margin:20px 0;min-height:3.3em;max-height:3.3em;overflow:hidden}.university-loop .point{background:rgba(0,0,0,0.7);position:absolute;padding:12px 12px 12px 36px;top:0;font-weight:bold;font-family:'Roboto Slab';text-transform:uppercase}.university-loop .level,.university-loop .rating{background:#c89232;padding:12px 12px 12px 45px;position:absolute;font-weight:bold}.university-loop .level{top:0;right:15px}.university-loop .rating{top:0;right:90px}.university-loop .wrap-single-university{border:1px solid #e2e2e2}.icons-university:before{background-image:url(img/icons-university.png);background-repeat:no-repeat;display:block}.icon-hat:before{content:'';width:29px;height:23px;background-position:-5px -5px;position:absolute;left:9px;top:10px}.icon-hat-hover:before{content:'';width:29px;height:23px;background-position:-44px -5px}.icon-megaphone:before{content:'';width:20px;height:18px;background-position:-83px -5px}.icon-megaphone-hover:before{content:'';width:20px;height:18px;background-position:-113px -5px}.icon-point:before{content:'';width:18px;height:22px;background-position:-143px -5px}.icon-point-hover:before{content:'';width:18px;height:22px;background-position:-171px -5px;position:absolute;left:10px;top:10px}.icon-star:before{content:'';width:25px;height:28px;background-position:-199px -5px;position:absolute;left:10px;top:8px}.icon-star-hover:before{content:'';width:25px;height:28px;background-position:-234px -5px}.icon-hat-s:before{content:'';width:29px;height:23px;background-position:-5px -5px;position:absolute;top:5px;left:-10px}.icon-point-s:before{content:'';width:18px;height:22px;background-position:-143px -5px;position:absolute;top:5px;left:-5px}.icon-star-s:before{content:'';width:25px;height:28px;background-position:-199px -5px;position:absolute;top:3px;left:-9px}.icon-megaphone-s:before{content:'';width:20px;height:18px;background-position:-83px -5px;position:absolute;top:10px;left:-7px}.single-university-h3 h3:after,.single-university-h3 h3:before{display:none !important}.single-university{padding-top:30px;border-top:1px solid #e2e2e2}.single-university ul{padding:0;margin-bottom:0}.single-university .side li{margin:5px 10px 20px 10px;list-style:none}.single-university .side .side-s{padding:10px 5px 10px 30px;color:#b9b9b9;position:relative;white-space:nowrap}.single-university .thumbnail{padding:0;margin-bottom:0;border:none}.single-university .thumbnail img{width:205px;height:115px;-webkit-transition:all 0.3s ease;transition:all 0.3s ease}.country{margin-top:-15px !important;padding-left:30px;margin-bottom:0 !important;-webkit-transition:all 0.3s ease-in;transition:all 0.3s ease-in}.overflow-h{max-height:3em;overflow:hidden}#slider-thumbs{margin-top:30px}.carousel-control{width:5%;left:30px;opacity:1}.carousel-control .glyphicon-chevron-right,.carousel-control .glyphicon-chevron-left{margin-top:-15px}.carousel-control.right,.carousel-control.left{background:none}.carousel-control.right{right:30px}.img-slide{width:100%;height:100vh;max-height:450px;background-size:cover !important;background-position:50% 50% !important;background-repeat:no-repeat !important;-webkit-transition:all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);transition:all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05)}@media screen and (max-width: 991px){.side{margin-top:25px}}@media screen and (max-width: 767px){.img-slide{max-height:280px}}@media screen and (max-width: 480px){#slider,#carousel-bounding-box,#slider-thumbs{padding:0;margin-bottom:10px}.img-slide{max-height:220px}}.scale-img{-webkit-transform:scale(1.2);transform:scale(1.2)}.glyphicon-chevron-right:before{content:'';background:url(img/arrows.png) no-repeat;display:block;width:36px;height:26px;background-position:-5px -5px;-webkit-transition:background-position .2s ease-in;transition:background-position .2s ease-in}.glyphicon-chevron-right:hover:before{background-position:-51px -5px}.glyphicon-chevron-left:before{content:'';background:url(img/arrows.png) no-repeat;display:block;width:36px;height:26px;background-position:-97px -5px;-webkit-transition:background-position .2s ease-in;transition:background-position .2s ease-in}.glyphicon-chevron-left:hover:before{background-position:-143px -5px}table th{font-weight:bold}table td,table th{padding:9px 10px;text-align:left}@media only screen and (max-width: 1024px){table.responsive{margin-bottom:0}.pinned{position:absolute;left:0;top:0;background:#fff;width:50%;overflow:hidden;overflow-x:scroll;border-right:1px solid #ccc;border-left:1px solid #ccc}.pinned table{border-right:none;border-left:none;width:100%}.pinned table th,.pinned table td{white-space:nowrap}.pinned td:last-child{border-bottom:0}div.table-wrapper{position:relative;margin-bottom:20px;overflow:hidden;border-right:1px solid #ccc}div.table-wrapper div.scrollable{margin-left:50%}div.table-wrapper div.scrollable{overflow:scroll;overflow-y:hidden}table.responsive td,table.responsive th{position:relative;white-space:nowrap;overflow:hidden}table.responsive th:first-child,table.responsive td:first-child,table.responsive td:first-child,table.responsive.pinned td{display:none}}@media screen and (max-width: 767px){.speciality-deps h3:after,.speciality-deps h3:before{display:none}.single-university-h3 h3{font-size:25px}}.speciality-deps thead{background:#ebebeb}.speciality-deps thead tr>td{min-width:130px;text-align:center}.speciality-deps thead p{font-weight:500;margin-bottom:0}.speciality-deps tbody tr>td:first-child{min-width:130px;text-align:left;padding-left:40px}.speciality-deps tbody p{font-weight:500;margin-bottom:0}#main>div>div>div.speciality-deps>div>div.scrollable>table>thead>tr:nth-child(2)>td:nth-child(1){display:table-cell !important}.speciality-deps>table>tbody>h4{font-weight:700 !important;text-transform:uppercase}.speciality-deps>table>thead>tr>th{text-align:center;text-transform:uppercase;font-weight:700 !important}.speciality-deps>table>thead>tr>th:first-child{text-align:left;padding-left:40px;padding-right:10px;white-space:nowrap}.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{vertical-align:middle}.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{vertical-align:middle;text-align:center}.icon-pdf{position:relative;display:block}.icon-pdf:before{content:'';background:url(img/pdf.png) no-repeat;display:block;width:26px;height:32px;margin:0 auto}.icon-pdf-none{opacity:.5;position:relative;display:block}.icon-pdf-none:before{content:'';background:url(img/pdf.png) no-repeat;display:block;width:26px;height:32px;margin:0 auto}.video-slide{max-height:450px;height:100%;width:100%}.video-tmb{width:100%;height:115px;background:url(img/preveiw.jpg) no-repeat;background-size:cover;background-position:50% 50%}.thumbnail:hover{box-shadow:0px 0px 28px 0px rgba(197,138,22,0.9)}#more{text-decoration:underline;padding-left:40px;color:#b9b9b9}.students-head{min-height:205px;background:url(img/booking.jpg) no-repeat;background-size:cover;background-position:50% 50%}.students-head .overlay-img{min-height:205px;padding:30px 0 0 0}.students-head h1{color:#fff;font-family:'roboto slab';font-weight:400;text-transform:uppercase;text-align:center}.students-head p{text-align:center;color:#efe9e6}.comment-students{background:url(img/page-university.png);min-height:300px}.final-tiles-gallery.caption-auto-height .caption{height:100% !important;display:table}.final-tiles-gallery .caption .text{position:relative;display:table-cell;vertical-align:middle}.final-tiles-gallery .caption .text h4{text-transform:uppercase}.final-tiles-gallery .tile .ftg-social{display:none;position:relative;text-align:center;width:80%;margin:0 auto;padding-top:15px;right:0}.final-tiles-gallery{padding-top:20px}#main>div.comment-students>section>div>div{padding-top:20px}article[id^=post] h1{font-size:35px}.blog{padding-top:30px}.blog .wp-post-image{width:100%;min-height:260px}.blog .wrap-single-blog{padding:15px;text-align:center;border:1px solid #e2e2e2}.blog .wrap-single-blog p{line-height:20px}.content-cut{max-height:200px;overflow:hidden}.blog-loop{height:100%;margin-bottom:20px;-webkit-transition:all .3s ease;transition:all .3s ease}.blog-loop:hover{box-shadow:0px 7px 37px 10px rgba(177,124,29,0.82)}.icon-blog{background:rgba(0,0,0,0.7);position:absolute;padding:12px 12px 12px 36px;top:0;font-weight:bold;font-family:'Roboto Slab';text-transform:uppercase}.icon-date:before{content:'';background-image:url(img/icon-blog.png);background-repeat:no-repeat;display:block;width:25px;height:28px;background-position:-5px -5px;position:absolute;top:7px;left:6px}.icon-comments,.icon-view{background:rgba(0,0,0,0.7);padding:12px 12px 12px 45px;position:absolute;font-weight:bold}.icon-comments{position:absolute;right:105px}.icon-view{position:absolute;right:15px}.icon-view:before{content:'';background-image:url(img/icon-blog.png);background-repeat:no-repeat;display:block;width:26px;height:28px;background-position:-40px -5px;position:absolute;top:15px;left:10px}.icon-comments:before{content:'';background-image:url(img/speech-bubble.png);background-repeat:no-repeat;background-size:26px 24px;display:block;width:31px;height:28px;position:absolute;top:10px;left:10px}.recordings .entry-content{background:#f7f7f7;border-radius:0 0 15px 15px;padding:25px;margin-top:0px;border-width:3px;border-style:solid;-o-border-image:linear-gradient(to bottom, #c89232, transparent) 1 100%;border-image:-webkit-linear-gradient(top, #c89232, transparent) 1 100%;border-image:linear-gradient(to bottom, #c89232, transparent) 1 100%}.post-168 .entry-content{background:#f7f7f7;border-radius:0 0 15px 15px;padding:25px;margin-top:0px;border-width:3px;border-style:solid;-o-border-image:linear-gradient(to bottom, #c89232, transparent) 1 100%;border-image:-webkit-linear-gradient(top, #c89232, transparent) 1 100%;border-image:linear-gradient(to bottom, #c89232, transparent) 1 100%;min-height:100vh}.post-202 .entry-content{background:#f7f7f7;border-radius:0 0 15px 15px;padding:25px;margin-top:0px;border-width:3px;border-style:solid;-o-border-image:linear-gradient(to bottom, #c89232, transparent) 1 100%;border-image:-webkit-linear-gradient(top, #c89232, transparent) 1 100%;border-image:linear-gradient(to bottom, #c89232, transparent) 1 100%;min-height:100vh}.post-edit-link{display:block;margin-top:30px}.single-university-text{background:#f7f7f7;border-radius:0 0 15px 15px;padding:25px;margin-top:35px;border-width:3px;border-style:solid;-o-border-image:linear-gradient(to bottom, #c89232, transparent) 1 100%;border-image:-webkit-linear-gradient(top, #c89232, transparent) 1 100%;border-image:linear-gradient(to bottom, #c89232, transparent) 1 100%}@media screen and (min-width: 996px){.single-recordings #secondary{padding-top:136px}}

/*# sourceMappingURL=style.css.map */
