// fonts
html,
body,
.wrapper{
	font-family: 'Roboto', sans-serif;
}
$base-font-size: 14px;
$h1: 47px;
$h2: 36px;
$h3: 30px;
$h4: 18px;
$h5: 18px;
// colors
$hover-link-menu: #d1942d;
$branding-bg: #3c3127;
$main-theme-color: #c89232;
$hover-color: #c89232;
$text-color: #252525;
$text-description: #707070;
$h4-color: #394b50;
.theme-color{
	background: $main-theme-color;
}
.theme-color-font{
	color: $main-theme-color;
}
.btn-search-margin-center{
	max-width: 300px;
	margin: 0 auto;
	display: block;
}
.border-bottom:after{
    content: '';
    width: calc(100% - 30px);
    margin: 0 auto;
    height: 1px;
    display: block;
    position: relative;
    background: #716254;
    top: 10px;
}
.padding-top{
	padding-top: 30px;
} 
// full-width
.full-width{
	width: 100%;
	position: relative;
}
// btn
@mixin btn-style-submit() {
	background: -webkit-linear-gradient(90deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);
	background: -moz-linear-gradient(90deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);
	background: -o-linear-gradient(90deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);
	background: -ms-linear-gradient(90deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);
	background: linear-gradient(0deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);
	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 0px 3px 0px 0px #9e7125;
       -moz-box-shadow: 0px 3px 0px 0px #9e7125;
        -ms-box-shadow: 0px 3px 0px 0px #9e7125;
            box-shadow: 0px 3px 0px 0px #9e7125;
    font-family: RobotoSlab;
	color:  #252525;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
}
@mixin btn-style-form() {
	background: -webkit-linear-gradient(90deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);
	background: -moz-linear-gradient(90deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);
	background: -o-linear-gradient(90deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);
	background: -ms-linear-gradient(90deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);
	background: linear-gradient(0deg, #f1b34c 0%, #fdd25a 50%, #ffbd4d 100%);
	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
            border-radius: 2px;
	-webkit-box-shadow: 0px 3px 0px 0px #9e7125;
       -moz-box-shadow: 0px 3px 0px 0px #9e7125;
        -ms-box-shadow: 0px 3px 0px 0px #9e7125;
            box-shadow: 0px 3px 0px 0px #9e7125;
	font-family: RobotoSlab;
	color:  #252525;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	line-height: 54px;
	text-align: center;
	height: 54px;
	display: block;
	transition:all 0.3s ease-in;
}
@mixin btn-hover() {
	background: -webkit-linear-gradient(90deg, #e29a21 0%, #f8c32e 50%, #d09635 100%);
	background: -moz-linear-gradient(90deg, #e29a21 0%, #f8c32e 50%, #d09635 100%);
	background: -o-linear-gradient(90deg, #e29a21 0%, #f8c32e 50%, #d09635 100%);
	background: -ms-linear-gradient(90deg, #e29a21 0%, #f8c32e 50%, #d09635 100%);
	background: linear-gradient(0deg, #e29a21 0%, #f8c32e 50%, #d09635 100%);
	color:  #252525;
}
@mixin btn-read() {
	font-family: "RobotoSlab";
	font-weight: bold;
	font-size: 18px;
	display: block;
	margin: 0 auto;
	width: 175px;
	margin-top: 20px;
	color: $main-theme-color;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 25px;
	border: 2px solid $main-theme-color;
	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
            border-radius: 2px;
}
// input
.validation-error{
	border: 1px solid red !important;
}
input,textarea{
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    background: transparent;
    padding: 15px;
    color: #fff;
	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
            border-radius: 2px;
    border: 1px solid;
}
input#search{
	border: 1px solid #c89232;
	margin-top: 0;
}
input:hover,
textarea{
	border: 1px solid #fff;
}
textarea{
	height: 135px;
}
input::-webkit-input-placeholder{
	color: #fff;
	text-transform: uppercase;
}
input::-moz-placeholder{
	color: #fff;
	text-transform: uppercase;
}
input:-moz-placeholder{
	color: #fff;
	text-transform: uppercase;
}
input:-ms-input-placeholder{
	color: #fff;
	text-transform: uppercase;
}
textarea::-webkit-input-placeholder{
	color: #fff;
	text-transform: uppercase;
}
textarea::-moz-placeholder{
	color: #fff;
	text-transform: uppercase;
}
textarea:-moz-placeholder{
	color: #fff;
	text-transform: uppercase;
}
textarea:-ms-input-placeholder{
	color: #fff;
	text-transform: uppercase;
}
// select
.select2-container {
    margin-bottom: 30px !important;
    height: 60px !important;
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid $main-theme-color !important;
    border-radius: 2px !important;
    padding: 11px !important;
    height: 55px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff ;
    line-height: 31px !important;
    text-transform: uppercase !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px !important;
    position: absolute !important;
    top: 13px !important;
    right: 6px !important;
    width: 20px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: $main-theme-color transparent transparent transparent !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
	color:#fff !important;
}
*:hover{
	transition: all 0.3s ease-in;
}
@media screen and (max-width: 767px){
	.border-bottom:after{
	    content: '';
	    width: calc(100% - 30px);
	    margin: 0 auto;
	    height: 1px;
	    display: block;
	    position: relative;
	    background: #716254;
	    top: 30px;
	}
}