//frontpage
section > .container{
	padding-top: 30px;
    padding-bottom: 30px;
}
.slide-fw{
	min-height: 390px;
	background: url(img/home-page-bg.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
	h1{
		color: #fff;
		text-align: center;
		margin-top: 110px;
		text-transform: uppercase;
		font-weight: bold;
	}
	h4{
		color: #fff;
		text-align: center;
		line-height: 30px;
		margin: 25px 0;
		text-transform: none !important;
		font-weight: 400;
		font-family: 'Roboto';
	}
	#consultation{
		max-width: 380px;
		margin: 0 auto;
    	margin-top: 45px;
	}
}
.entry-content{
	margin-top: 30px;
}
.entry-header{
	padding-bottom: 30px
}
h3{
	position: relative;
	text-transform: uppercase;
}
h3:before{
	content: '';
    display: block;
    height: 1px;
    position: relative;
	width: 20%;
	max-width: 300px;
    left: 0;
    top: 20px;
	background: #d7d7d7;
}
h3:after{
    content: '';
    display: block;
    height: 1px;
    position: absolute;
	width: 20%;
	max-width: 300px;
    right: 0;
    background: #d7d7d7;
    top: 20px;
}
@media only screen and (max-width: 1023px) {
	.slide-fw #consultation{
		max-width: 290px;
	}
	h3:after,
	h3:before{
		width: 15%;
	}
	.process h3:after,
	.process h3:before{
		width: 9%;
	}
}
.search-university{
    margin-top: 50px;
    background: url(img/search-university.jpg);
    min-height: 545px;
    background-size: cover;
	.row{
    	padding-bottom: 35px;
	}
	h3{
		color: #fff;
		margin: 20px 0;
	}
	h4{
		text-transform: uppercase;
		font-weight: 400;
    	margin-bottom: 20px;
	}
	p{
		color: #c8c6c5;
		text-align: center;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
    	color: #fff;
	}
	.select2-container--default:hover .select2-selection--single{
		border-color: #fff;
	}
	.select2-container--default .select2-selection--single:hover{
		border: 1px solid #fff !important;
	}
}
.process{
	min-height: 650px;
	p{
		text-align: center;
	}
	.row{
		margin-top: 40px;
		div{
			min-height: 250px;
			h4{
				text-transform: uppercase;
				font-weight: bold;
				color: $h4-color;
			}
			p{
				text-align: left;
    			padding-right: 30px;
			}
			figure{
				height: 75px;
			}
			.icon-mail-envelope-opened{
    			margin-top: -10px;
			}
			.icon-airplane{
    			width: 60px;
			}
			.icon-hand-gesture{
			    margin-top: 7px;
			    width: 60px;
			}
			.icon-wallet2{
    			margin-bottom: 9px;
			}
			.icon-notebook{
				margin-bottom: 13px;
			}
			.icon-dot_arrow{
				width: 69%;
			}
			.icon-dots{
				width: 60%;
			}
		}
	}
}

@media screen and (max-width: 767px){
	.entry-title {
    margin-top: 50px;
	}
	.advantages,.documents,.search-university,.contact-us{
			h3:after,
			h3:before{
				display: none;
			}
		}
	.process{
		min-height: 650px;

		h3:after,
		h3:before{
			display: none !important;
		}
		.row{
			margin-top: 40px;
			div{
				p{
					text-align: center;
					padding: 0;
				}
				text-align: center;
				min-height: 250px;
				.icon-dot_arrow{
					width: 200px;
				}
				.icon-dots{
					width: 200px;
				}
			}
		}
	}
}
.process-box2{
	background: url(img/booking.jpg) no-repeat;
	min-height: 260px;
	background-size: cover;
	background-position: 50% 50%;
	.container{
		padding-top: 80px;
		h3:after,
		h3:before{
			display: none;
		}
		h2{
			color: #fff;
			font-weight: bold;
			margin: 0;
		}
		h3{
			color: #fff;
			text-align: left;
			margin: 0;
		}
		#booking{
			margin-top: 22px;
			max-width: 275px;
		}
	}
}
@media screen and (max-width: 1023px){
	.process-box2{
		.container{
			div{
				padding-bottom:10px; 
			}
			h3{
			text-align: center;
			}
			text-align: center;
		    padding-top: 20px;
		    padding-bottom: 20px;
			#booking{
				margin-top: 5px;
				margin: 0 auto;
			}
		}
	}
	.advantages .container h3:after,
	.advantages .container h3:before {
    	display: none;	}
}
.advantages{
	background: url(img/advantages.jpg);
	.container{
			h3:after,
			h3:before{
				width: 15%;
			}
			.row{
				padding-top: 10px;
				div{
					background: #fff;
					background-clip: content-box;
					max-height: 165px;
					padding: 15px;
					figure{
						padding: 32px 0;
						span.theme-color-font{
							font-size: 30px;
							font-family: "Roboto Slab";
							font-weight: bold; 
						}
					}
				}
				div:hover{
					background: #d5a34a;
					background-clip: content-box;
					color: #fff;
					span{
						color: #fff;
					}
				}

			}

	}
}
.sprite {
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-bus {
    width: 82px;
    height: 50px;
    background-position: -5px -5px;
}

div.col-xs-12:hover .sprite-bus {
    width: 82px;
    height: 50px;
    background-position: -97px -5px;
}

.sprite-car {
    width: 84px;
    height: 57px;
    background-position: -189px -5px;
}

div.col-xs-12:hover .sprite-car {
    width: 84px;
    height: 57px;
    background-position: -283px -5px;
}

.sprite-film {
    width: 69px;
    height: 71px;
    background-position: -377px -5px;
}

div.col-xs-12:hover .sprite-film {
    width: 69px;
    height: 71px;
    background-position: -456px -5px;
}

.sprite-house {
    width: 76px;
    height: 63px;
    background-position: -535px -5px;
}

div.col-xs-12:hover .sprite-house {
    width: 76px;
    height: 63px;
    background-position: -621px -5px;
}

.sprite-tarelka {
    width: 87px;
    height: 60px;
    background-position: -707px -5px;
}

div.col-xs-12:hover  .sprite-tarelka {
    width: 87px;
    height: 60px;
    background-position: -804px -5px;
}

.sprite-tiket {
    width: 82px;
    height: 63px;
    background-position: -901px -5px;
}

div.col-xs-12:hover .sprite-tiket {
    width: 82px;
    height: 63px;
    background-position: -993px -5px;
}
.sprite-tarelka-padding{
    padding: 37px 0 37px 15%;
    margin: 0;
}
.sprite-bus-padding{
    padding: 45px 0 40px 15%;
    margin: 0;
}
.sprite-film-padding{
    padding: 31px 0 33px 17%;
    margin: 0;
}
// CONTACT-US
.contact-us{
	background: url(img/contact-us.jpg);
	min-height: 495px; 
	.row{
		padding-top: 30px;
	}
	#contact_us{
		margin-top: 9px;
	}
	.container{
		h3{
			color: #fff;
			margin: 20px 0;
		}
		hgroup h3{
			text-align: left;
			margin-bottom: 20px;
		}
		.site-title a{
			font-weight: 400;
			color: $main-theme-color;
		}
		.site-title:after, .site-title:before{
			display: none;
		}
		p{
			color: #c8c6c5;
			text-align: center;
		}
		ul{
			padding-left: 0;
		}
		li{
			list-style: none;
			a{		
			    color: #fff;
			    display: block;
			    padding: 7px;
			    font-size: 18px;
			    padding-left: 35px;
			}
			.skype:before{
				content: url(img/icon-skype.png);
			    position: absolute;
			    left: -35px;
			    top: 2px;
			}
			.viber:before{
				content: url(img/icon-viber.png);
			    position: absolute;
			    left: -35px;
			}
			.mail:before{
				content: url(img/icon-mail.png);
			    position: absolute;
			    left: -38px;
			    top: 2px;
			}
			a:focus{
				text-decoration: none;
			}
			span{
				color: $hover-color;
				position: relative;
			}
		}
	}
}
.documents{
	min-height: 470px;
	.row{
		padding-top: 30px; 
	}
	.owl-theme .owl-controls .owl-buttons .owl-prev{
		background-image: url(img/arrow.png) !important;
	    background-repeat: no-repeat;
	    display: block;
	    width: 36px !important;
	    height: 26px !important;
	    background-position: -97px -5px !important;
	}
	.owl-theme .owl-controls .owl-buttons .owl-prev:hover{
	    width: 36px !important;
	    height: 26px !important;
	    background-position: -143px -5px !important;
	}
	.owl-theme .owl-controls .owl-buttons .owl-next{
		background-image: url(img/arrow.png) !important;
	    background-repeat: no-repeat;
	    display: block;
	    width: 36px !important;
	    height: 26px !important;
	    background-position: -5px -5px !important;
	}
	.owl-theme .owl-controls .owl-buttons .owl-next:hover{
	    width: 36px !important;
	    height: 26px !important;
	    background-position: -51px -5px !important;
	}
}
.container{
	.owl-theme .owl-controls .owl-buttons .owl-next{
		background: url(img/arrow.png) !important;
		background-position: -5px -5px !important;
		display: block !important;
		width: 36px !important;
		height: 26px !important;
	}
	.owl-theme .owl-controls .owl-buttons .owl-next:hover{
		background: url(img/arrow.png) !important;
		background-position: -51px -5px !important;
		display: block !important;
		width: 36px !important;
		height: 26px !important;
	}
	.owl-theme .owl-controls .owl-buttons .owl-prev{
		background: url(img/arrow.png) !important;
		background-position: -97px -5px !important;
		display: block !important;
		width: 36px !important;
		height: 26px !important;
	}
	.owl-theme .owl-controls .owl-buttons .owl-prev:hover{
		background: url(img/arrow.png) !important;
		background-position: -143px -5px !important;
		display: block !important;
		width: 36px !important;
		height: 26px !important;
	}
}
@media screen and (max-width: 767px){
	.autohide-arrows .owl-controls .owl-buttons {
    display: none !important;
	}
	.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 5px !important;
	}
	.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 5px !important;
	}
	#slider-comment > a.right.carousel-control{
		display: none;
	}
	#slider-comment > a.left.carousel-control{
		display: none;
	}
}
.modal-dialog{
	max-width: 485px;
}
.modal-body{
	input{
		color: #000;
	}
	input:hover{
		color: #000;
		border: 1px solid #000;
	}
	input::-webkit-input-placeholder {color:#000;}
	input::-moz-placeholder {color:#000;}
	input:-moz-placeholder {color:#000;}
	input:-ms-input-placeholder {color:#000;}
}
#take-consult,#take-booking{
    margin: 0 auto;
    display: block;
    max-width: 380px;
    padding-bottom: 30px;
    margin-top: -15px;
}
#consult_submit,#booking_submit{
	margin-top: 10px;
}
@media screen and (max-width: 390px){
	#consult_submit,#booking_submit{
		font-size: 14px;
	}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
	.contact-us .container li a {
	    font-size: 12px;
	}
}
// Facebook comments 
#slider-comment  a.right.carousel-control > span:before{
    content: '';
    background: url(img/arrow.png) no-repeat;
    display: block;
    width: 36px;
    height: 26px;
    background-position: -5px -5px;
    transition: background-position .2s ease-in;
}
#slider-comment  a.left.carousel-control > span:before{
    content: '';
    background: url(img/arrow.png) no-repeat;
    display: block;
    width: 36px;
    height: 26px;
    background-position: -97px -5px;
    transition: background-position .2s ease-in;
}
#slider-comment  a.right.carousel-control:hover > span:before{
    content: '';
    background: url(img/arrow.png) no-repeat;
    background-position: -51px -5px;
}
#slider-comment  a.left.carousel-control:hover > span:before{
    content: '';
    background: url(img/arrow.png) no-repeat;
    background-position: -143px -5px;
}
#slider-comment > a.right.carousel-control{
	right: -10px;
}
#slider-comment > a.left.carousel-control{
	left: -15px;
}
.comment-img{
	height: 225px;
    width: 100%;
    background-position: 50% 50% !important;
}