.site-branding{
	background: $branding-bg;
	height: 80px;
	img{
		margin-top: 10px;
		margin-left: 25px;
	}
}
#lang{
    padding: 30px 0;
    height: 80px;
    text-align: center;
}
.top-contact{
	li{
		float: left;
		height: 60px;
		list-style: none;
		a{
		    color: #fff;
		    display: block;
		    padding: 20px 0;
		    border-right: 1px solid #464646;
		    margin-top: 10px;
		    max-height: 60px;
		    text-align: center;
		    span{
		    	color: #fff;
		    }
		}
		.skype:before{
			content: url(img/icon-skype.png);
		    position: absolute;
		    left: -25px;
		}
		.viber:before{
			content: url(img/icon-viber.png);
		    position: absolute;
		    left: -25px;
		}
		.mail:before{
			content: url(img/icon-mail.png);
		    position: absolute;
		    left: -28px;
		}
		a:focus{
			text-decoration: none;
		}
		.skype,.viber,.mail{
			color: $hover-color;
			position: relative;
		}
	}
}


.nav-wrapper{
	background: #fff;
	.navbar-default{
		border-color: transparent;
		background: transparent;
		margin-bottom: 0;
		.navbar-nav{
			li:hover{
			}
			li{
				height: 100%;
				a{
					text-transform: uppercase;
					color:  #252525;
					font-size: 20px;
					font-weight: 400;
					line-height: 24px;
					text-align: center;
					border-top: 2px solid transparent;
					border-bottom: 2px solid transparent;
					margin: -1px 0 -1px 0;

				}
			    a:hover,
				a:focus{
					border-top: 2px solid $main-theme-color;
					border-bottom: 2px solid $main-theme-color;
					color: $hover-link-menu;
			   }
			}

		}

	}
	}

// footer
.site-info{
	background: $branding-bg;
	min-height: 64px;
	p{
	color:  #ffffff;
	font-size: $base-font-size;
	font-weight: 400;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
	}
	.arr{
		color: #fff;
		text-decoration: underline;
	}
	.arr:hover{
		color: $main-theme-color;
	}
}
// menu
.navbar-toggle{
	background: #fff;
	transition: all 0.4s ease-in;
}
.navbar-default .navbar-toggle:active{
    transform: rotate(180deg);
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
    background: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: $main-theme-color;
}
@media screen and (max-width: 480px){
	.site-branding {
	    height: 110px;
	    position: relative;
	}
	#lang{
		position: absolute;
		bottom: 0;
	    left: 44%;
	    padding: 0;
	    width: 75px;
	    height: 30px;
	}
}
@media screen and (max-width: 767px){
	.navbar{
		min-height: 0;
	}
	.navbar-toggle {
	    position: absolute;
	    border: 1px solid $main-theme-color !important;
	    top: -27px;
	    right: 0;
	}
}
.site-info p {
    line-height: 30px !important;
}
@media screen and (min-width: 768px){
.navbar-nav {
    margin: 0 auto;
    display: block;
    width: 100%;
    float: none;
    text-align: center;
	}
	.nav-wrapper .navbar-default .navbar-nav li {
	    height: 100%;
	    display: inline-block;
	    float: none;
	}
}
