.students-head{
    min-height: 205px;
    background: url(img/booking.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .overlay-img{
        min-height: 205px;
        padding: 30px 0 0 0;
    }
	h1{
		color: #fff;
	    font-family: 'roboto slab';
	    font-weight: 400;
	    text-transform: uppercase;
	    text-align: center;
	}
	p{
		text-align: center;
		color: #efe9e6;
	}
}
.comment-students{
	background: url(img/page-university.png);
	min-height: 300px;
}
.final-tiles-gallery.caption-auto-height .caption{
	height: 100% !important;
	display: table;
}
.final-tiles-gallery .caption .text{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	h4{
		text-transform: uppercase;
	}
}
.final-tiles-gallery .tile .ftg-social {
    display: none;
    position: relative;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
    right: 0;
}
.final-tiles-gallery {
    padding-top: 20px;
}
#main > div.comment-students > section > div > div{
	padding-top: 20px;
}
// BLOG
.blog{
	padding-top: 30px;
	.wp-post-image{
		width: 100%;
		min-height: 260px;
	}
	.wrap-single-blog{
		padding: 15px;
		text-align: center;
		border: 1px solid #e2e2e2;
        p{
            line-height: 20px;
        }
	}
}
.content-cut{
	max-height: 200px;
	overflow: hidden;
}
.blog-loop {
    height: 100%;
    margin-bottom: 20px;
    transition: all .3s ease;
}
.blog-loop:hover {
    box-shadow: 0px 7px 37px 10px rgba(177, 124, 29, 0.82);
}
.icon-blog{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    padding: 12px 12px 12px 36px;
    top: 0;
    font-weight: bold;
    font-family: 'Roboto Slab';
    text-transform: uppercase;
}
.icon-date:before{
    content: '';
    background-image: url(img/icon-blog.png);
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 28px;
    background-position: -5px -5px;
    position: absolute;
    top: 7px;
    left: 6px;
}

.icon-comments,.icon-view{
    background: rgba(0, 0, 0, 0.7);
    padding: 12px 12px 12px 45px;
    position: absolute;
    font-weight: bold;
}
.icon-comments{
    position: absolute;
    right: 105px;
}
.icon-view{
    position: absolute;
    right: 15px;
}

.icon-view:before{
    content: '';
    background-image: url(img/icon-blog.png);
    background-repeat: no-repeat;
    display: block;
    width: 26px;
    height: 28px;
    background-position: -40px -5px;
    position: absolute;
    top: 15px;
    left: 10px;
}
.icon-comments:before{
    content: '';
    background-image: url(img/speech-bubble.png);
    background-repeat: no-repeat;
    background-size: 26px 24px;
    display: block;
    width: 31px;
    height: 28px;
    position: absolute;
    top: 10px;
    left: 10px;
}
// blog article
.recordings{
    .entry-content{
        background: #f7f7f7;
        border-radius: 0 0 15px 15px;
        padding: 25px;
        margin-top: 0px;
        border-width: 3px;
        border-style: solid;
        -webkit-border-image:
          -webkit-gradient(linear, 0 0, 0 100%, from($main-theme-color), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image:
          -webkit-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image:
          -moz-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image:
          -o-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        border-image:
          linear-gradient(to bottom, $main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
    }
}
.post-168{
    .entry-content{
        background: #f7f7f7;
        border-radius: 0 0 15px 15px;
        padding: 25px;
        margin-top: 0px;
        border-width: 3px;
        border-style: solid;
        -webkit-border-image:
          -webkit-gradient(linear, 0 0, 0 100%, from($main-theme-color), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image:
          -webkit-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image:
          -moz-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image:
          -o-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        border-image:
          linear-gradient(to bottom, $main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
          min-height: 100vh;
    }
}
.post-202{
    .entry-content{
        background: #f7f7f7;
        border-radius: 0 0 15px 15px;
        padding: 25px;
        margin-top: 0px;
        border-width: 3px;
        border-style: solid;
        -webkit-border-image:
          -webkit-gradient(linear, 0 0, 0 100%, from($main-theme-color), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image:
          -webkit-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image:
          -moz-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image:
          -o-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        border-image:
          linear-gradient(to bottom, $main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
          min-height: 100vh;
    }
}
.post-edit-link{
    display: block;
    margin-top: 30px;
}
.single-university-text{
        background: #f7f7f7;
        border-radius: 0 0 15px 15px;
        padding: 25px;
        margin-top: 15px;
        border-width: 3px;
        border-style: solid;
        -webkit-border-image:
          -webkit-gradient(linear, 0 0, 0 100%, from($main-theme-color), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image:
          -webkit-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image:
          -moz-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image:
          -o-linear-gradient($main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
        border-image:
          linear-gradient(to bottom, $main-theme-color, rgba(0, 0, 0, 0)) 1 100%;
}
