.universities-head{
  min-height: 207px;
  background: url(img/university-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 30px;
	h1{
	    color: #fff;
	    font-family: 'roboto slab';
	    font-weight: 400;
	    text-transform: uppercase;
	    text-align: center;
	}
	h3:before,h3:after{
		display: none;
	}
	p{
		text-align: center;
		color: #efe9e6;
	}

}
.search-university-catalog{
	background: url(img/page-university.png);
	input, textarea, select{
		color: #000;
	}
	select:hover{
		border-color: #000;
	}
	input::-webkit-input-placeholder{
	color: #000;
	}
	p{
		text-align: center;
	}
	.select2-container--default .select2-selection--single:hover{
		border: 1px solid #000 !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__placeholder{
		color:#444 !important;
	}
	h4{
		text-transform: uppercase;
	}	
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background: $main-theme-color !important;
}
.select2-dropdown {
	background:  rgba(236, 232, 223, 0.92) !important;
}
#search .select2-container--default .select2-selection--single .select2-selection__arrow b{
	display: none;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    color: #000;
}
.search-result{
	min-height: 400px;
	transition: all 0.6s ease 0.3s;
	p{
		text-align: center;
		color: #a8a8a8;
		margin-bottom: 25px;
	}
	.thumbnail-img{	
	    max-width: 100%;
	    min-height: 240px;
	    margin: 0 auto;
	    display: block;
	}
		
}
@media screen and (max-width: 767px){
	.search-result{
		h3:after,h3:before{
			display: none;
		}
	}
}

.university-loop:hover {
    box-shadow: 0px 7px 37px 10px rgba(177, 124, 29, 0.82);
}
.university-loop{
    transition: all .3s ease;
	height: 100%;
	margin-bottom: 20px; 
	h4{
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;
	    margin: 20px 0;
	    min-height: 3.3em;
	    max-height: 3.3em;
	    overflow: hidden;
	}
	.point{
	    background: rgba(0, 0, 0, 0.7);
	    position: absolute;
	    padding: 12px 12px 12px 36px;
	    top: 0;
	    font-weight: bold;
	    font-family: 'Roboto Slab';
	    text-transform: uppercase;
	}
	.level,.rating{
		background: $main-theme-color;
    	padding: 12px 12px 12px 45px;
		position: absolute;
		font-weight: bold;
	}
	.level{
		top: 0;
		right: 15px;
	}
	.rating{
		top: 0;
		right: 90px;
	}
	.wrap-single-university{
		border: 1px solid #e2e2e2;
	}
}
// icon
.icons-university:before {
    background-image: url(img/icons-university.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-hat:before {
	content: '';
    width: 29px;
    height: 23px;
    background-position: -5px -5px;
    position: absolute;
    left: 9px;
    top: 10px;
}

.icon-hat-hover:before {
	content: '';
    width: 29px;
    height: 23px;
    background-position: -44px -5px;
}

.icon-megaphone:before {
	content: '';
    width: 20px;
    height: 18px;
    background-position: -83px -5px;
}

.icon-megaphone-hover:before {
	content: '';
    width: 20px;
    height: 18px;
    background-position: -113px -5px;
}

.icon-point:before {
	content: '';
    width: 18px;
    height: 22px;
    background-position: -143px -5px;
}

.icon-point-hover:before {
	content: '';
    width: 18px;
    height: 22px;
    background-position: -171px -5px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.icon-star:before {
	content: '';
    width: 25px;
    height: 28px;
    background-position: -199px -5px;
    position: absolute;
    left: 10px;
    top: 8px;
}

.icon-star-hover:before {
	content: '';
    width: 25px;
    height: 28px;
    background-position: -234px -5px;
} 
.icon-hat-s:before{
    content: '';
    width: 29px;
    height: 23px;
    background-position: -5px -5px;
    position: absolute;
    top: 5px;
    left: -10px;
}
.icon-point-s:before {
	content: '';
    width: 18px;
    height: 22px;
    background-position: -143px -5px;
    position: absolute;
    top: 5px;
    left: -5px;
}
.icon-star-s:before {
	content: '';
    width: 25px;
    height: 28px;
    background-position: -199px -5px;
    position: absolute;
    top: 3px;
    left: -9px;
}
.icon-megaphone-s:before {
	content: '';
    width: 20px;
    height: 18px;
    background-position: -83px -5px;
    position: absolute;
    top: 10px;
    left: -7px;
}
//.icon
.single-university-h3{	
	h3:after,h3:before{
		display: none !important;
	}
}
.single-university{
	padding-top: 30px;
	border-top: 1px solid #e2e2e2;
	ul{
		padding: 0;
		margin-bottom: 0;
	}
	.side li{
    	margin: 5px 10px 20px 10px;
		list-style: none;
	}
	.side .side-s{
		padding: 10px 5px 10px 30px;
		color: #b9b9b9;
		position: relative;
    	white-space: nowrap;
	}
	.thumbnail {
	    padding: 0;
	    margin-bottom: 0;
	    border: none;
	    img{
	    	width: 205px;
	    	height: 115px;
	    	transition: all 0.3s ease;
	    }
	}
}
.country{
    margin-top: -15px !important;
    padding-left: 30px; 
    margin-bottom: 0 !important;
    transition: all 0.3s ease-in;
}
.overflow-h{
	max-height: 3em;
	overflow: hidden;
}
//gallery slider
#slider-thumbs{
    margin-top: 30px;
}
.carousel-control{
	width: 5%;
	left: 30px;
	opacity: 1;
}
.carousel-control .glyphicon-chevron-right,.carousel-control .glyphicon-chevron-left{
	margin-top: -15px;
}
.carousel-control.right,
.carousel-control.left{
	background: none;
}
.carousel-control.right {
    right: 30px;
}
.img-slide{
    width: 100%;
    height: 100vh;
    max-height: 450px;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.thumbnail img:hover{
}
@media screen and (max-width: 991px){
	.side{
		margin-top: 25px;
	}
}
@media screen and (max-width: 767px){
	.img-slide{
		max-height: 280px;
	}	
}
@media screen and (max-width: 480px){
	#slider,#carousel-bounding-box,#slider-thumbs{
		padding: 0;
    	margin-bottom: 10px;
	}
	.img-slide{
		max-height: 220px;
	}	
}
.scale-img{
	transform: scale(1.2);	
}
.glyphicon-chevron-right:before{
	content: '';
	background: url(img/arrows.png) no-repeat;
	display: block;
	width: 36px;
	height: 26px;
	background-position: -5px -5px;
	transition:background-position .2s ease-in;
}
.glyphicon-chevron-right:hover:before{
	background-position: -51px -5px;
}
.glyphicon-chevron-left:before{
	content: '';
	background: url(img/arrows.png) no-repeat;
	display: block;
	width: 36px;
	height: 26px;
	background-position: -97px -5px;
	transition:background-position .2s ease-in;
}
.glyphicon-chevron-left:hover:before{
	background-position: -143px -5px;
}
// table-layout: 

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

/* Mobile */
@media only screen and (max-width: 1024px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 50%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable { margin-left: 50%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	
	
}
@media screen and (max-width: 767px){
	.speciality-deps{
		h3:after,h3:before{
			display: none;
		}
	}
	.single-university-h3{
		h3{
			font-size: 25px;
		}
	}
}
.speciality-deps{
		thead{
			background: #ebebeb;
			tr>td{
			    min-width: 130px;
			    text-align: center; 
			}
			p{
				font-weight: 500;
				margin-bottom: 0;
			}
		}
		tbody{
			tr>td:first-child{
			    min-width: 130px;
			    text-align: left;
    			padding-left: 40px;
			}
			p{
				font-weight: 500;
				margin-bottom: 0;
			}
		}
	}
#main > div > div > div.speciality-deps > div > div.scrollable > table > thead > tr:nth-child(2) > td:nth-child(1){
	display: table-cell !important;
}
.speciality-deps > table > tbody > h4{
	font-weight: 700 !important;
	text-transform: uppercase;
}
.speciality-deps > table > thead > tr > th{
	text-align: center;
	text-transform: uppercase;
	font-weight: 700 !important;
}
.speciality-deps > table > thead > tr > th:first-child{
	text-align: left;
    padding-left: 40px;
	padding-right: 10px;
	white-space: nowrap;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}
.icon-pdf{
	position: relative;
	display: block;
}
.icon-pdf:before{
    content: '';
    background: url(img/pdf.png) no-repeat;
    display: block;
    width: 26px;
    height: 32px;
    margin: 0 auto;
}
.icon-pdf-none{
	opacity: .5;
	position: relative;
	display: block;
}
.icon-pdf-none:before{
    content: '';
    background: url(img/pdf.png) no-repeat;
    display: block;
    width: 26px;
    height: 32px;
    margin: 0 auto;
}

.video-slide{
	max-height: 450px;
	height: 100%;
	width: 100%;
}
.video-tmb{
	width: 100%;
    height: 115px;
    background: url(img/preveiw.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
}
.thumbnail:hover{
    box-shadow: 0px 0px 28px 0px rgba(197, 138, 22, 0.9);
}
#more{
	text-decoration: underline;
    padding-left: 40px;
    color: #b9b9b9;
}